.header {
    height: 30vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    

    
}

.h1-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media all and (min-width:768px) {
        font-size: 5rem;
        
    }

}

.input {
    width: 200px;
    height: 20px;
    border-radius: 7px;
    border: none;
    @media all and (min-width:768px) {
        width: 350px;
        height: 33px;
        
    }
}

.button {
    width: 70px;
    height: 20px;
    margin-left: 20px;
    color: white;
    background-color: #7ead70;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 3px 2px rgb(88, 88, 88);
    @media all and (min-width:768px) {
        width: 100px;
        height: 35px;
        
    }
}

